<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="{37D4B7EE-B86E-4EC2-BDAF-864EC7DD8F83}" Name="PQDIF Explorer" Language="1033" Version="!(bind.FileVersion.PQDIFExplorer.exe)" Manufacturer="Grid Protection Alliance" UpgradeCode="{853D8F23-C121-4412-A19D-9F4B173BEE77}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED"/>
    <Condition Message='This setup requires Microsoft .NET Framework 4.6 or greater - this will need to be installed before installation can continue.'>
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
    </Condition>

    <Feature Id="PQDIFExplorer" Title="PQDIF Explorer" Level="1" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Description="Installs the PQDIF Explorer.">
      <ComponentGroupRef Id="PQDIFExplorerComponents" />
    </Feature>

    <UI>
      <!-- User Interface -->
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <Icon Id="PQDIFExplorer.ico.exe" SourceFile="$(var.PQDIFExplorer.TargetPath)" />

    <!-- Define Variables Related to .pqd File Association -->
    <?define ApplicationName = "PQDIF Explorer" ?>
    <?define ApplicationDescription = "Visualization tool for viewing raw data stored in PQDIF files." ?>
    <?define PQDDescription = "Power Quality Data Interchange Format" ?>
    <?define PQDExplorerMenu = "Open with PQDIF Explorer" ?>

    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\PQDIFExplorerSetupBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\PQDIFExplorerSetupDialog.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\INSTALL_LICENSE.rtf" />

    <!-- Add/Remove Programs Properties -->
    <Property Id="ARPPRODUCTICON" Value="PQDIFExplorer.ico.exe" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <?if $(var.Platform) = x64 ?>
      <Directory Id="ProgramFiles64Folder">
        <!-- C:\Program Files\PQDIFExplorer -->
        <Directory Id="INSTALLFOLDER" Name="PQDIFExplorer" />
      </Directory>
      <?else ?>
      <Directory Id="ProgramFilesFolder">
        <!-- C:\Program Files (x86)\PQDIFExplorer -->
        <Directory Id="INSTALLFOLDER" Name="PQDIFExplorer" />
      </Directory>
      <?endif ?>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PQDIF Explorer" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!-- Console Components -->
    <ComponentGroup Id="PQDIFExplorerComponents" Directory="INSTALLFOLDER">
      <!-- PQDIFExplorer.exe -->
      <Component Id="PQDIFExplorer.exe">
        <File Id="PQDIFExplorer.exe" Name="$(var.PQDIFExplorer.TargetFileName)" Source="$(var.PQDIFExplorer.TargetPath)" />
        <Shortcut Id="PQDIFExplorerStartMenuShortcut" Name="PQDIF Explorer" Icon="PQDIFExplorer.ico.exe" Description="Visualization tool for viewing raw data from PQDIF files." WorkingDirectory="INSTALLFOLDER" Directory="ApplicationProgramsFolder" Advertise="yes" />

        <!-- Capabilities keys for Vista/7/8 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities" Name="ApplicationDescription" Value="$(var.ApplicationDescription)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities" Name="ApplicationIcon" Value="[APPLICATIONFOLDER]PQDIFExplorer.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities" Name="ApplicationName" Value="$(var.ApplicationName)" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities\DefaultIcon" Value="[APPLICATIONFOLDER]PQDIFExplorer.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities\FileAssociations" Name=".pqd" Value="PQDIFExplorer.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities\MIMEAssociations" Name="application/pqd" Value="PQDIFExplorer.Document" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\PQDIFExplorer\Capabilities\shell\Open\command" Value="&quot;[APPLICATIONFOLDER]PQDIFExplorer.exe&quot; &quot;%1&quot;" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\RegisteredApplications" Name="PQDIFExplorer" Value="SOFTWARE\PQDIFExplorer\Capabilities" Type="string" />

        <!-- App Paths to support Start,Run -> "PQDIFExplorer" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\PQDIFExplorer.exe" Value="[!PQDIFExplorer.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\PQDIFExplorer.exe" Name="Path" Value="[APPLICATIONFOLDER]" Type="string" />

        <!-- Extend to the "open with" list + Win7 jump menu pinning  -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\PQDIFExplorer.exe\SupportedTypes" Name=".pqd" Value="" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Applications\PQDIFExplorer.exe\shell\open" Name="FriendlyAppName" Value="$(var.ApplicationName)" Type="string" />

        <!-- PQDIFExplorer.Document ProgID -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\PQDIFExplorer.Document" Name="FriendlyTypeName" Value="$(var.PQDDescription)" Type="string" />
        <ProgId Id="PQDIFExplorer.Document" Description="$(var.PQDDescription)" Icon="PQDIFExplorer.ico.exe" Advertise="yes">
          <Extension Id="pqd">
            <Verb Id="open" Command="$(var.PQDExplorerMenu)" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="application/pqd" Default="yes" />
          </Extension>
        </ProgId>
      </Component>
      <Component Id="PQDIFExplorer.exe.config">
        <File Id="PQDIFExplorer.exe.config" Name="$(var.PQDIFExplorer.TargetFileName).config" Source="$(var.PQDIFExplorer.TargetPath).config" />
      </Component>

      <!-- GSF Dependencies -->
      <Component Id="GSF.Core.dll">
        <File Id="GSF.Core.dll" Name="GSF.Core.dll" Source="$(var.PQDIFExplorer.TargetDir)\GSF.Core.dll" />
      </Component>
      <Component Id="GSF.PQDIF.dll">
        <File Id="GSF.PQDIF.dll" Name="GSF.PQDIF.dll" Source="$(var.PQDIFExplorer.TargetDir)\GSF.PQDIF.dll" />
      </Component>
      <Component Id="GSF.Core.xml">
        <File Id="GSF.Core.xml" Name="GSF.Core.xml" Source="$(var.PQDIFExplorer.TargetDir)\GSF.Core.xml" />
      </Component>
      <Component Id="GSF.PQDIF.xml">
        <File Id="GSF.PQDIF.xml" Name="GSF.PQDIF.xml" Source="$(var.PQDIFExplorer.TargetDir)\GSF.PQDIF.xml" />
      </Component>
      
      <!-- External Dependencies -->
      <Component Id="Ionic.Zlib.dll">
        <File Id="Ionic.Zlib.dll" Name="Ionic.Zlib.dll" Source="$(var.PQDIFExplorer.TargetDir)\Ionic.Zlib.dll" />
      </Component>
      
      <!-- Tag Definitions XML -->
      <Component Id="TagDefinitions.xml">
        <File Id="TagDefinitions.xml" Name="TagDefinitions.xml" Source="$(var.PQDIFExplorer.TargetDir)\TagDefinitions.xml" />
      </Component>

      <!-- Cleanup -->
      <Component Id="Cleanup" Guid="{4DB7FFF6-52ED-4D56-8F3A-3F22369536FD}">
        <CreateFolder />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>